<!DOCTYPE html>
<html>
<head>
	<title>Dog</title>
</head>
<body>
	<ul>
	<h1>Dog Index</h1>
	<% for(let i = 0; i < dogs.length; i ++) { %>
	
	<li>
		The <a href="/dogs/ <%=dogs[i]%>"> <%=dogs.name; %></a> is <%= dog.breed;%>
	</li>

	<% } %>
	</ul>
</body>
</html>