<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>
	<h1>Dog Form</h1>
	<form action="/dogs" method="POST">
		Dog Name: <input type="text" name="name"></br>
		Dog Breed: <input type="text" name="breed"></br>
		<input type="submit" name="" value="Create Dog"/>
	</form>
</body>
</html>